.side-content {
    padding-top: 120px;
    margin-left: 30px;
    width: 300px;
    height: auto;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 150;
    overflow: auto;
    transition: 0.4s all linear;
}

.side-content-demo {
    padding-top: 30px;
}

.sideNav-active {
    margin-left: 0 !important;
}

.side-content-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(28, 167, 231, 0.4);
    z-index: 100;
    transition: 0.4s all linear;
}

.side-navbar {
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    overflow: hidden;
}

.side-list {
    list-style: none;
    margin: 0;
    color: #131026;
    padding: 10px 0;
}

.side-list li {
    padding: 18px 10px 18px 35px;
    display: flex;
    align-items: center;
    transition: 0.2s all linear;
}

.side-list li a {
    width: 100%;
    text-decoration: none;
    color: inherit;
    padding-left: 10px;
    padding-top: 5px;
}

.side-list li:hover {
    color: #fe796d;
    cursor: pointer;
}

.side-icon {
    width: 30px;
    height: 30px;
    display: inline-block;
}

.active {
    color: #fe796d;
    font-weight: bold;
}

/* menu styles */
.dropdown {
    width: 100%;
}

.dropdown-content {
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.3s all linear;
}

.dropdown-content a {
    color: #565d68;
    padding: 10px 16px 10px 35px;
    text-decoration: none;
    list-style: circle;
    display: block;
    transition: 0.1s all linear;
}

.dropdown-content a:hover {
    background-color: rgba(241, 241, 241, 0.8);
    color: #fe796d;
}

.home-icon {
    background: url('../../static/images/Icons/Menu-Icons/home-icon.png') no-repeat center center;
}

.account-icon {
    background: url('../../static/images/Icons/Menu-Icons/hesabim-icon.png') no-repeat center center;
}

.food-icon {
    background: url('../../static/images/Icons/Menu-Icons/besin-skorlari-icon.png') no-repeat center center;
}

.result-icon {
    background: url('../../static/images/Icons/Menu-Icons/analiz-sonuclari-icon.png') no-repeat center center;
    margin-right: 10px;
}

.resource-icon {
    background: url('../../static/images/Icons/Menu-Icons/kaynaklar-icon.png') no-repeat center center;
}

.register-kit {
    background-color: #4f4fa1;
    border-radius: 20px;
    margin: 30px 0;
    padding: 30px 0 35px;
    color: white;
    text-align: center;
    font-size: 0.8rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.register-kit > h5 {
    padding: 0 30px;
}

.register-kit > div {
    padding: 0 15px;
    color: #e3e3ee;
    margin-bottom: 20px;
    line-height: 1.3em;
}

.register-kit > a {
    background-color: #ffe8bf;
    padding: 8px 40px;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    text-decoration: none;
    font-size: 0.9rem;
}

@media (max-width: 1500px) {
    .side-content {
        width: 260px;
        padding-top: 110px;
        margin-left: 20px;
    }

    .side-content-demo {
        padding-top: 30px;
    }

    .side-list {
        padding: 15px 0;
    }

    .side-list li, .dropdown-content a {
        padding-left: 25px;
    }

    .register-kit {
        margin: 20px 0;
    }
}

@media (max-width: 1024px) {
    .side-content {
        margin-left: -300px;
        width: 300px;
        padding: 105px 15px 0 15px;
        background-color: white;
    }

    .side-content-demo {
        top: 0;
    }

    .side-navbar, .register-kit {
        box-shadow: none;
    }

    .side-content-overlay {
        display: inline-block;
    }
}

@media (max-width: 414px) and (max-height: 823px) {
    .side-content {
        overflow-y: auto;
        padding-right: 0 !important;
    }
}

@media (max-width: 823px) and (max-height: 414px) {
    .side-content {
        overflow-y: auto;
        padding-right: 0 !important;
    }
}

@media (max-height: 700px) {
    .side-content {
        overflow-y: auto;
        padding-right: 20px;
    }
}