.food-type-dropdown {
    position: relative;
    font-size: 0.9rem;
    width: 220px;
}

.type-menu-dropbtn {
    background-color: #fcfdfd;
    border: 1px solid #e9ecf0;
    color: #565d68;
    width: 100%;
    border-radius: 5px;
    text-align: left;
    padding: 7px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.type-dropdown-content {
    position: absolute;
    background-color: #fcfdfd;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    transition: 0.2s all linear;
}

.food-type-dropdown .type-dropdown-content button {
    display: block;
    background-color: transparent;
    color: inherit;
    border: none;
    width: 100%;
    padding: 15px 10px;
    text-align: left;
    transition: 0.2s all linear;
}

.food-type-dropdown .type-dropdown-content button:hover {
    background-color: rgba(241, 241, 241, 0.8);
}

.selected {
    background-color: #565d68 !important;
    color: white !important;
}