.pC-container {
    border: 1px solid #e9ecf0;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.pC-icon {
    margin-right: 10px;
    color: #4f4fa2;
    font-size: 1.4rem;
}

.dP-btn {
    background-color: #59c5d9;
    color: white !important;
	height: 40px;
	border: none;
	border-radius: 20px;
    padding: 0 25px;
    cursor: pointer;
    font-weight: normal;
    display: flex;
    align-items: center;
    transition: 0.2s all linear;
}

.dP-btn:hover {
    background-color: rgb(95, 211, 231);
    text-decoration: none;
}

.pdf-icon {
    font-size: 1.4rem;
    margin-right: 5px;
}

.dP-link {
    display: none;
}